jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: {{ jenkins_login_user }}
         password: {{ jenkins_login_user_pwd }}
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
