# Sample pipeline-values.properties file for SEAL Pipelines job.
# Not all available parameters are listed below.  This file contains those that are customer specific and must be set.
# Parameters that are not present will use their default values - add them if you want to set a different value.
# Some of the parameters you may want to change are commented out - remove the # if you want to set them.
# NOTE:  The HELIX_ONPREM_DEPLOYMENT pipeline will be triggered with the values provided but it will fail due to the
# missing CACERTS_FILE option - THIS IS INTENTIONAL and allows you to rebuild the failed job and verify/update values.

AGENT=git-<HOSTNAME>
GIT_USER_HOME_DIR=/home/git
GIT_REPO_DIR=ssh://<HOSTNAME>/home/git/git_repos

CLUSTER=
CUSTOMER_NAME=
IS_NAMESPACE=
CUSTOMER_SERVICE=
ENVIRONMENT=
CLUSTER_DOMAIN=
HELM_NODE=<HOSTNAME>

#HELIX_VIRTUALCHAT=true
#HELIX_OPENFIRE=true
#HELIX_DWP=true
#HELIX_DWPA=true
#HELIX_CLOUD_ACTIONS=false
#HELIX_BWF=true
#HELIX_MCSM=false
#HELIX_ITSM_INSIGHTS=false
#HELIX_TSOMPLUGIN=false
#HELIX_SMARTAPPS_CSM=false
#HELIX_SMARTAPPS_FAS=false
#HELIX_DRIFTMANAGEMENTPLUGIN=false
#HELIX_CLAMAV=false
#HELIX_NETOPS=false
#HELIX_GPT=false

#SIDECAR_SUPPORT_ASSISTANT_FPACK=true
#SUPPORT_ASSISTANT_CREATE_ROLE=true
#SUPPORT_ASSISTANT_SERVICE_ACCOUNT=default
#SIDECAR_FLUENTBIT=false
#SIDECAR_FLUENT_DETAIL_LOG=false

#HELIX_GENERATE_CONFIG=true
#HELIX_PLATFORM_DEPLOY=true
#HELIX_NONPLATFORM_DEPLOY=true
#HELIX_CONFIGURE_ITSM=true
#HELIX_SMARTAPPS_DEPLOY=true
#SUPPORT_ASSISTANT_TOOL=true
#HELIX_INTEROPS_DEPLOY=true

REGISTRY_TYPE=DTR
HARBOR_REGISTRY_HOST=
IMAGE_REGISTRY_USERNAME=
IMAGE_REGISTRY_PASSWORD=
DB_TYPE=
DB_PORT=
ORACLE_SERVICE_NAME=
DATABASE_HOST_NAME=
DATABASE_ADMIN_USER=
DATABASE_ADMIN_PASSWORD=
LOGS_ELASTICSEARCH_HOSTNAME=
LOGS_ELASTICSEARCH_PASSWORD=
FTS_ELASTICSEARCH_HOSTNAME=
FTS_ELASTICSEARCH_PORT=9200
FTS_ELASTICSEARCH_USERNAME=bmcuser
FTS_ELASTICSEARCH_USER_PASSWORD=
IMAGESECRET_NAME=
BAKEDUSER_HANNAH_ADMIN_PASSWORD=
AR_DB_NAME=
AR_DB_USER=
AR_DB_PASSWORD=
AR_SERVER_APP_SERVICE_PASSWORD=
AR_SERVER_DSO_USER_PASSWORD=
AR_SERVER_MIDTIER_SERVICE_PASSWORD=
VC_RKM_USER_NAME=
VC_RKM_PASSWORD=
VC_PROXY_USER_LOGIN_NAME=
VC_PROXY_USER_PASSWORD=
DWP_CONFIG_PRIMARY_ORG_NAME=
DWP_CONFIG_SUBTENANT_USER_PASSWORD=

RSSO_URL=
RSSO_ADMIN_USER=Admin
RSSO_ADMIN_PASSWORD=RSSO#Admin#
TENANT_DOMAIN=

HELIX_PLATFORM_DOMAIN=
HELIX_PLATFORM_NAMESPACE=
HELIX_PLATFORM_CUSTOMER_NAME=

#BMC_HELIX_ITSM_INSIGHTS=false
#BMC_HELIX_SMART_IT=true
#BMC_HELIX_BWF=true
#BMC_HELIX_DWP=true
#BMC_HELIX_INNOVATION_STUDIO=true
#BMC_HELIX_DWPA=true
